*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
body{
    height: 100vh;
}
.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* border: 1px solid black; */
}
.card{
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    height: 205px;
    width: 175px;
    border: 1px solid rgb(203, 203, 203);
    border-radius: 5px;
    justify-content: space-around;
    box-shadow: 5px 5px 10px rgb(183, 183, 183);
    background: rgb(224, 251, 255);
    padding-left: 5px;
    padding-right: 5px;
}
.top{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 20px;
    width: 100%;
    height: 80%;
}
.bottom{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.btn{
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    width: 110px;
    height: 30px;
}
.read{
    background: green;
    position: relative;
}
.remove{
    background: red;
}


/* Form */


.form{
    display: none;
    margin: 50px auto;
    border: 1px solid green;
    width: 400px;
    flex-direction: column;
    box-shadow: 2px 1px 10px grey;
    border-radius: 5px;
    padding: 15px 20px;
}
.form span{
    display: block;
    text-align: center;
    font-size: 46px;
}
.form div{
    display: flex;
    flex-direction: column;
    padding: 7.5px 0;
}
.form .button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.submit, .cancel{
    width: 150px;
    border: none;
    font-size: 26px;
    color: #fff;
    border-radius: 5px;
    padding: 15px 0;
}
.submit{
    background: rgb(112, 205, 0);
}
.cancel{
    background: red;
}
label{
    font-size: 24px;
}
input{
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid rgb(210, 210, 210);
    outline: 1px solid rgb(210, 210, 210);
}
input:focus{
    outline: 1px solid blue;
    border: 1px solid blue;
}


/* Add book button */
.add-book{
    width: 175px;
    height: 205px;
    background: rgb(112, 205, 0);
    border: 1px solid rgb(198, 198, 198);
    border-radius: 5px;
    font-size: 24px;
    color: #fff;
    margin: 10px auto;
}