*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.card{
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    height: 205px;
    width: 175px;
    border: 1px solid rgb(203, 203, 203);
    border-radius: 5px;
    justify-content: space-around;
    box-shadow: 5px 5px 10px rgb(183, 183, 183);
    background: rgb(224, 251, 255);
    padding-left: 5px;
    padding-right: 5px;
}
.top{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 20px;
    width: 100%;
    height: 80%;
}
.bottom{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.btn{
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    width: 110px;
    height: 30px;
}
.read{
    background: green;
    position: relative;
}
.remove{
    background: red;
}
